.projects_outer {
    background-color: #f1e2ff;
}

.projects_container {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

h2 {
    background-color: #d6d6d1;
}

.projects_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}