@use "sass:map";
@use "../../common/styles/sass/mixins" as *;
@use "../../common/styles/sass/variables" as *;

$container-margin-large: $margin-large;
$container-margin-medium: $margin-medium;

//TODO: configure container min height later. It could be more or less than 524px.
@function get-content-min-height($margin, $min-height: 524px) {
    @return max($min-height, calc(100vh - $margin * 2));
}

.content_box {
    position: relative;
    padding: 70px;
    margin-bottom: $container-margin-large;
    min-height: get-content-min-height($container-margin-large);
    @include flex;
    border-radius: $border-radius;
    background-color: rgba(26, 48, 86, 0.82);
    overflow: hidden;

    @media (max-width: map.get($breakpoints, "medium")) {
        padding: 55px;
        min-height: get-content-min-height($container-margin-medium);
    }
}