.outer_box {
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    min-height: 100vh;
    border: 1px solid;
    padding: 20px;
    margin: 0 auto;
}

.link {
    display: block;
    padding: 10px 20px;
    border: 1px solid;
}

.header {
    flex-shrink: 0;
    height: 100px;
}

.header h2 {
    background-color: #d6d6d1;
}