.outer_box {
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    border: 1px solid;
    margin: 0 auto;
}

.link {
    display: block;
    padding: 10px 20px;
    border: 1px solid;
}

.header {
    height: 100px;
}

.header h2 {
    background-color: #d6d6d1;
}