@use "sass:map";
@use "../../../common/styles/sass/variables" as *;
@use "../../../common/styles/sass/mixins" as *;

$icon-margin-large: 45px;
$icon-margin-medium: 15px;
$icon-size-large: 25px;
$icon-size-medium: 20px;
$li-padding-large: 15px;
$li-padding-medium: 12px;
$nav-fz-large: 15px;
$nav-fz-medium: 13px;
$nav-padding-large: $padding-large;
$nav-padding-medium: $padding-medium;

$underline-color: rgba(255, 255, 255, .1);
$active-underline-color: rgba(255, 255, 255, .15);

.nav {
    height: 60%;
    padding: $nav-padding-large {
        top: $nav-padding-large * 1.25;
    };
    color: map.get($text-colors, "white");

    ul {
        height: 100%;
        overflow: auto;
        scrollbar-width: thin;
    }

    li {
        position: relative;
        transition: all .3s ease;

        &:hover {
            color: map.get($text-colors, "accent");
        }

        &::before,
        &::after {
            position: absolute;
            content: "";
            left: 0;
            width: 100%;
            height: 1px;
            bottom: 0;
            background-color: $underline-color;
            transition: all .3s ease;
        }

        &::after {
            background-color: $active-underline-color;
        }

        &:not(:hover)::after {
            width: 0
        }
    }

    a {
        display: block;
        @include flex($flex-direction: row, $justify-content: flex-start);
        gap: 10px;
        padding: $li-padding-large 0;
        font-weight: 700;
        font-size: $nav-fz-large;
        text-transform: uppercase;
    }

    svg {
        height: $icon-size-large;
        width: $icon-size-large;
        margin-left: $icon-margin-large;
        fill: currentColor;
        color: map.get($text-colors, "accent");
    }

    @media (max-width: map.get($breakpoints, "medium")) {
        padding: 35px {
            top: 48px;
        };

        a {
            padding: $li-padding-medium;
            font-size: $nav-fz-medium;
            gap: 15px;

            svg {
                width: $icon-size-medium;
                height: $icon-size-medium;
                margin-left: $icon-margin-medium;
            }
        }
    }
}