.main_outer {
    background-color: #ffdee9;
}

.main_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .main_container {
        flex-direction: column;
        justify-content: flex-start;
        gap: 40px;
    }
}
