@use "sass:map";
@use "sass:math";
@use "../../common/styles/sass/variables" as *;
@use "../../common/styles/sass/mixins" as *;

$skills-gap-large: $gap-large;
$skills-gap-medium: $gap-medium;
$icon-container-size-large: 110px;
$icon-container-size-medium: 100px;
$icon-size-large: math.ceil($icon-container-size-large * 0.65);
$icon-size-medium: math.ceil($icon-container-size-medium * 0.65);
$title-margin-bottom-large: $margin-large * 0.8;
$title-margin-bottom-medium: 48px;

.skills_container {
    @include flex($align-items: flex-start);

    .title_short {
        margin-bottom: 6px;
        @include typography(28px, 600, map.get($text-colors, "accent"));
    }

    .title_full {
        @include typography(45px, 600, map.get($text-colors, "white"));
        margin-bottom: $title-margin-bottom-large;
    }

    .skills_list {
        @include flex($flex-direction: row, $align-items: stretch);
        flex-wrap: wrap;
        gap: $skills-gap-large;
    }

    .skill_item {
        gap: 10px;
        text-align: center;
    }

    .icon_container {
        @include flex($flex-direction: null);
        width: $icon-container-size-large;
        height: $icon-container-size-large;
        border-radius: 50%;
        background-color: map.get($bg-colors, "secondary");
        border: 5px solid map.get($bg-colors, "hover-link");
    }

    .icon {
        width: $icon-size-large;
        height: $icon-size-large;
    }

    .header {
        @include typography(24px, 700, map.get($text-colors, "white"));
    }

    .text {
        color: map.get($text-colors, "card-grey");
    }

    @media (max-width: map.get($breakpoints, "medium")) {
        .title_short {
            font-size: 24px;
        }

        .title_full {
            margin-bottom: $title-margin-bottom-medium;
            font-size: 35px;
        }

        .skills_list {
            gap: $skills-gap-medium;
        }

        .icon_container {
            width: $icon-container-size-medium;
            height: $icon-container-size-medium;
        }

        .icon {
            width: $icon-size-medium;
            height: $icon-size-medium;
        }
    }
}