.project {
    flex-grow: 1;
    width: 400px;
    max-width: 550px;
    border: 1px solid;
}

@media (max-width: 865px) {
    .project {
        width: 410px;
    }
}

.user_image {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    background-color: #c4c4c4;
}

.user_image img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #ffffff7f;
    text-decoration: none;
    backdrop-filter: blur(4px);
    transition: scale 0.2s ease-in-out;
}

.link:hover {
    scale: 1.1;
}

.info {
    padding: 15px 30px;
    background-color: #eaedec;
}

@media (max-width: 865px) {
    .info {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.info > * {
    padding: 5px;
    background-color: #d9d9d9;
}

.info h3 {
    margin-bottom: 10px;
}