@use "sass:map";
@use "sass:math";
@use "../../styles/sass/mixins" as *;
@use "../../styles/sass/variables" as *;

$box-margin-large: $margin-large;
$box-margin-medium: $margin-medium;
$box-padding-large: $margin-large;
$box-padding-medium: 55px;

//TODO: configure container min height later. It could be more or less than 524px.
@function get-content-min-height($margin, $min-height: 524px) {
    @return max($min-height, calc(100vh - $margin * 2));
}

.box {
    position: relative;
    padding: $box-padding-large;
    margin-bottom: $box-margin-large;
    min-height: get-content-min-height($box-margin-large);
    @include flex;
    border-radius: $border-radius;
    background-color: map.get($bg-colors, "secondary");
    overflow: hidden;

    @media (max-width: map.get($breakpoints, "medium")) {
        padding: $box-padding-medium;
        min-height: get-content-min-height($box-margin-medium);
    }
}