.footer_outer {
    background-color: #ebffe4;
}

.footer_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: auto;
}

.footer_container h3 {
    height: auto;
    background-color: #d6d6d1;
}

.accounts {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    border: 1px solid;
}

.copyright {
    background-color: #d6d6d1;
}