@use "sass:map";
@use "./common/styles/sass/variables" as *;
@use "./common/styles/sass/mixins" as *;
@use "common/styles/reset";

body {
    @include base-font;
    @media (max-width: map.get($breakpoints, "medium")) {
        font-size: 16px;
        line-height: 1.6;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}
