$border-radius: 15px;

$margin-large: 70px;
$margin-medium: 50px;

$padding-large: 45px;
$padding-medium: 35px;

$gap-large: $padding-large * 0.6;
$gap-medium: $padding-medium * 0.6;

//max-width breakpoints
$breakpoints: (
        "medium": 1400px,
        "small": 1040px
);

$bg-colors: (
        "primary": #3a3934,
        "secondary": #494b50,
        "card": #5c5d64,
        "hover-link": #ffb324
);

$navbar-colors: ("primary": #feb224);

$text-colors: (
        "white": #fff,
        "primary": #888888,
        "accent": #ff451b,
        "light-grey": #bab6b6,
        "card-grey": #a7afbd
);