$bg-primary-color: #3a3934;
$bg-secondary-color: #494b50;
$border-radius: 15px !default;
$padding: 48px !default;
$photo-size: 220px;
$photo-border-color: #494b50;

$bg-colors: ("primary": #3a3934, "secondary": #494b50);
$navbar-colors: ("primary": #feb224);
$text-colors: ("white": #fff, "primary": #888888, "hover": #ff451b)