.contacts_outer {
    background-color: #ffe2e2;
}

.contacts_container {
    gap: 40px;
}

.header {
    height: auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    border: 1px solid;
}

.form .field {
    padding: 10px;
    background-color: #cdcdcd;
}

.form input,
.form textarea {
    border: none;
}

.form textarea {
    resize: none;
}